<h1>Verify your email for bkng</h1>
<p>Follow this link to verify your email address.</p>
<a href="http://localhost:3000/auth/verify?token={{token}}">Confirm</a>
<p>If you did not request this email, you may safely ignore it.</p>
